<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p><%= error %></p>
    <% end %>
<% end %>



<%= bootstrap_form_with model: @pet, bootstrap: { layout: "horizontal" } do |f| %>
    
    <%= f.text_field :name %>

    <%= f.number_field :age, in: 1...100 %>

    <%= f.text_field :breed %>

    <%= f.label :species %>
    <%= f.collection_select :species_id, @species, :id, :name%>

    <%= f.text_area :hobbies, placeholder: "Playing fetch, batting yarn, etc...."  %>

    <%= f.url_field :image, placeholder: "Enter image url here...."  %>

    <%= f.date_field :birthdate, control_col_class: "col-sm-4" %>

    <%= f.submit %>
<% end %>

