<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <%= form_with model: @user do |f| %>
                <p><%= f.label :name %>
                <%= f.text_field :name %></p>
                <p><%= f.label :image %>
                <%= f.text_field :image %></p>
                <p><%= f.label :bio %>
                <%= f.text_area :bio %></p>
                <%= f.submit %>
            <% end %>
        </div>
    </div>
</div>