<div class="row">
    <% @users.each do |user| %>
    <div class="col-sm-3">
        <div class="well">
            <% if user.image %>
              <%= image_tag user.image, class: "img-circle", height:"65", width:"65", alt:"Avatar"%>
            <% end %>
            <p><%= link_to user.name, user %></p>
            <p><%= user.bio %></p>
            <p>Number of pets: <%= user.pet_count %></p>
            <% user.species_count.each do |k, v| %>  
                    <p><%= k %>: <%= v %></p>
            <% end %>
        </div>
    </div>
    <% end %>

</div>
