<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <% if @user.image %>
              <%= image_tag @user.image, class: "img-circle", height:"65", width:"65", alt:"Avatar"%>
            <% end %>
            <p><%= @user.name %></p>
            <p><%= @user.username %></p>
            <p><%= @user.bio %></p>
            <% @user.pets.each do |pet| %>
                <p><%= link_to pet.name, pet %></p>
            <% end %>
        </div>
    </div>
</div>



