<div class="row">
    <div class="col-sm-12">
    <div class="panel panel-default text-left">
        <div class="panel-body">
        <%= button_to "Create Post", new_post_path, method: :get %>
        </div>
    </div>
    </div>
</div>

<% @posts.each do |post| %>
<div class="row">
    <div class="col-sm-3">
        <div class="well">
           <p><%= link_to post.user.name, show_user_path(post.user) %></p>
            <% if post.user.image %>
                <%= image_tag post.user.image, class: "img-circle", height:"100", width:"100", alt:"Avatar"%>
            <% end %>
        </div>
    </div>
    <div class="col-sm-9">

          <div class="well">
            <% if post.image %>
                <%= link_to post do %>
                    <p><%= image_tag post.image, class: "img-fluid" %></p>
                <% end %>
            <% end %>
            <p><%= link_to post.content, post %></p>
            <br>
            <%= bootstrap_form_for [post, @comment], bootstrap: {layout: "horizontal"} do |f| %>
                <%= f.text_area :content, placeholder: "Add a comment...", bootstrap: {label: "Comment"} %>          
                <%= f.submit "Post Comment", bootstrap: {layout: "vertical"}%>
            <% end %>
            <br><br>

            <%= button_to "Like", add_likes_path(post), :method => :patch, :class => "btn-info"  %>
            <br>
            <h5>Likes: <%= post.likes %></h5><br>
            
            <h4>Comments</h4>
            <% post.comments.each do |comment| %>
                <div class="well well-sm">
                    <p><%= comment.user.name %> said: <%= comment.content %></p>
                </div>
            <% end %>

          </div>
    </div>
</div>
<% end %>
