
<% @posts.each do |post| %>
<div class="row">
    <div class="col-sm-3">
        <div class="well">
           <p><%= post.user.name %></p>
           <img src=post.user.image class="img-circle" height="55" width="55" alt="Avatar">
        </div>
    </div>
    <div class="col-sm-9">
          <div class="well">
            <% if post.image %>
                <p><%= image_tag post.image, class: "img-fluid" %></p>
            <% end %>
            <p><%= link_to post.title, post %></p>
            <p><%= post.content %></p>
            <br>
            <%= bootstrap_form_for [post, @comment], bootstrap: {layout: "horizontal"} do |f| %>
                <%= f.text_area :content, placeholder: "Add a comment...", bootstrap: {label: "Comment"} %>          
                <%= f.submit "Post Comment", bootstrap: {layout: "vertical"}%>
            <% end %>
            <br><br>
                <h4>Comments</h4>
                <% post.comments.each do |comment| %>
                <div class="well well-sm">
                    <p><%= comment.user.name %> said: <%= comment.content %></p>
                </div>
                <% end %>
          </div>
    </div>
</div>
<% end %>
