<div class="row">
    <div class="col-sm-12">
    <div class="panel panel-default text-left">
        <div class="panel-body">
        <%= button_to "Create Post", new_post_path, method: :get %>
        </div>
    </div>
    </div>
</div>

<% @posts.each do |post| %>
<div class="post-container">
    <div class="row">
        <div class="col-sm-3 ">
            <div class="post-inner-box">
            <h5><%= link_to post.user.name, show_user_path(post.user) %></h5>
                <% if post.user.image %>
                    <%= image_tag post.user.image, class: "img-circle", height:"100", width:"100", alt:"Avatar"%>
                <% end %>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="post-inner-box">
                <div class="post-comment-box">
                    <p><%= post.content %></p>
                </div> 
                <% if post.image %>
                    <%= link_to post do %>
                        <p><%= image_tag post.image, class: "post-img" %></p>
                    <% end %>
                <% end %>
                
                <br>
                <%= bootstrap_form_for [post, @comment], bootstrap: {layout: "vertical"} do |f| %>
                    <%= f.text_area :content, placeholder: "Add a comment...", bootstrap: {label: {hide: true}} %>          
                    <%= f.submit "Post Comment", bootstrap: {layout: "vertical"}%>
                <% end %>
                <div class="post-comment-box">
                    <h4>Comments</h4>
                    <% post.comments.each do |comment| %>                      
                        <p><%= comment.user.name %> said: <%= comment.content %></p>                    
                    <% end %>
                </div>
                <%= button_to "Like", add_likes_path(post), :method => :patch, :class => "btn-info"  %> <h5>Likes: <%= post.likes %></h5>
            </div>
        </div>
    </div>
</div>
<% end %>
