<nav id="sidebar">
    <div class="p-4 pt-5">
        <% if current_user.image %>
            <%= image_tag current_user.image, class: "img logo img-circle", alt:"Avatar"%>
        <% end %><br><br>
        <ul class="list-unstyled components mb-5">
            <li><%= link_to "View Profile", show_user_path(current_user)%></li>
            <li><%= link_to "View All Users", users_path %></li>
            <li><%= link_to "View All Pets", pets_path %></li>
            <li><%= link_to "How to Link Images", about_path %></li>
        </ul>
        <% if current_user.complete_profile %>
        <div class="alert alert-warning fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            Aww! Your profile is incomplete. Please complete your profile
            <%= link_to "here", edit_user_registration_path(current_user) %>
        </div>
        <% end %>
        <% if current_user.no_pet %>
        <div class="alert alert-warning fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            Oh no! Looks like you have no pets<br>
            <%= link_to "Add a pet", new_pet_path %>
        </div>
        <% end %>
        <% if current_user.post_alert_criteria > 2 %>
        <div class="alert alert-warning fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>            
            You haven't posted since <%= current_user.last_post %> .. Post now!
        </div>
        <% end %>
        <% if !Pet.all.empty? %>
            <h5>Did you know?!</h5>
            <p><%= link_to Pet.oldest.name, pet_path(Pet.oldest) %> is the oldest pet at <%= Pet.oldest.age %>!</p>
            <p><%= link_to Pet.youngest.name, pet_path(Pet.youngest) %> is the youngest pet at <%= Pet.youngest.age %>!</p>
            <p><%= link_to User.most_pets.name, user_path(User.most_pets) %> has the most pets at <%= User.most_pets.pet_count %>!</p>
            <p>Our class has the most <%= Pet.most_common_species.species.name %>s at <%= Pet.most_common_species_count %></p>
            <% if Pet.most_unique_species_count == 1 %>
                <p><%= Pet.most_unique_species.name %> is the only <%= Pet.most_unique_species.species.name %></p>
            <% end %>
            <% if Pet.check_name_count > 1 %>
                <p><%= Pet.most_common_name.name %> is the most common pet name</p>
            <% end %>
            <% if Pet.check_breed_count > 1 %>
                <p><%= Pet.most_common_breed.breed %> is the most common breed for <%= Pet.most_common_breed.species.name %>s</p>
            <% end %>
            <br><br>

            <h5>See what's up!</h5>
            <p>Checkout the <%= link_to "most popular post", post_path(Post.most_popular) %></p>
            <p>Give <%= link_to "this post", post_path(Post.least_popular) %> some love!</p>
            <p>Get in on <%= link_to "this convo!", post_path(Post.most_comments) %></p>
            <br><br>
            
            <% if Pet.birthdays_this_month != [] %>
                <h5>Birthdays this month!</h5>
                <% Pet.birthdays_this_month.each do |pet| %>
                    <p><%= pet.name %> has a birthday on <%= pet.birthdate.month %>/<%= pet.birthdate.day %> </p>
                <% end %>
            <% end %>
        <% end %>
    </div>
</nav>
